$brandPurple: #391e4b;

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333;
}

#nav_menu {
  background: linear-gradient(328deg, #c279f5, #9a41d8);
}

.nav-bar {
  // box-shadow:
  //   inset -4px 3px 12px 11px rgba(255, 255, 255, 0.1),
  //   inset -10px 10px 10px 11px rgba(0, 0, 0, 0.1);
  //   box-shadow: 3px 2px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  background: rgb(0 0 0 / 48%);
  backdrop-filter: blur(1rem);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#nav_logo_link {
  font-size: 1rem;
  font-weight: 600;
  color: #f1f1f1;
  text-decoration: none;
  text-shadow: -2px 1px 2px rgb(0 0 0 / 46%);
}

#nav_toggle {
  span {
    display: block;
    width: 1.5rem;
    height: 2px;
    margin: 5px auto;
    background-color: #0000007a;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 3px 0px rgb(255 255 255 / 10%);
  }
}

.nav-open {
  #nav_toggle {
    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}

.nav-list {
  color: #f1f1f1;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  z-index: 50;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 1rem;
}

.nav-link {
  font-size: 1.125rem;
  margin: 0 1rem;
  padding: 1rem 0rem;
  border-bottom: 1px solid rgba(241, 241, 241, 0.2);
}

#header_main {
  min-height: calc(100vh - 54px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background:
    linear-gradient(2deg, #000000a8, #a2a2168c, transparent),
    radial-gradient(#ba59ff, #b161e8);
  box-shadow: inset -2px 1px 4rem rgba(0, 0, 0, 0.46);
  color: #482d50;
  text-shadow: 0px 0px 2px rgb(0 0 0 / 82%);
  text-shadow: 1px 1px 4px rgb(255 255 255 / 63%);

  
}

.title {
  // color: #482d50;
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #333;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    inset 0px 0px 2rem 9px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  transition: transform 0.15s ease-in-out, background-color 0.3s ease;

  .icon {
    display: inline-block;
       height: 1.5em;
    width: auto;
    vertical-align: middle;
  }

  .icon + .btn-text {
    margin-left: 0.5rem;
  }

  .btn-text + .icon {
    margin-left: 0.5rem;
  }

  &.btn-primary {
    background-color: #391e4bc2;
    color: #f1f1f1;
    padding: 1rem;
  }

  &.btn-lg {
    font-size: 1.5rem;
  }

  &:hover {
    transform: scale(1.025);
  }
  &:active {
    transform: scale(0.95);
  }
}

#footer_main {
  text-align: center;
  box-shadow: inset 0px 2px 20px 7px rgb(0 0 0 / 18%);
  background: #3f2254;
  color: #f1f1f1;
}

@media (min-width: 414px) {
 
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  .btn {
    display:inline-flex;
    width:auto;
    min-width:12ch;
  }
}

@media (min-width: 1536px) {

}