// Variables
$brand-purple: #391e4b;
$brand-purple-mid: #5c3279;
$brand-purple-dark: #593075;
$brand-warm: #a98179;
$brand-gradient: linear-gradient(165deg, $brand-purple-dark, $brand-warm);

$color-light: #f1f1f1;
$border-subtle: #0000001f;
$nav-border: rgba(241, 241, 241, 0.2);
$overlay: rgba(0, 0, 0, 0.25);
$shadow-inset: inset 0px 0px 2rem 1px rgba(0, 0, 0, 0.25);

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 16px;
}
#root {
  background: #000000;
}
main {
  min-height: 100vh;
  background: #f1f1f1;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #666464;
}

.text-link {
  color: #5c3279;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  border-bottom: 1px solid #5c3279;
  &:hover {
    color: #7a4b9e;
    border-bottom: 1px solid #7a4b9e;
  }
}
#nav_menu {
  background: linear-gradient(
    165deg,
    rgb(89 48 117 / 89%),
    rgb(169 129 121 / 84%)
  );
  backdrop-filter: blur(0.25rem);
}
.nav-bar {
  backdrop-filter: blur(1rem);
  // background: rgb(0 0 0 / 48%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#nav_logo_link {
  font-size: 1.25rem;
  font-weight: 600;
  color: #f1f1f1;
  text-decoration: none;
  text-shadow: -2px 1px 2px rgb(0 0 0 / 46%);
  svg {
    filter: drop-shadow(0px 0px 0.5rem rgba(225, 225, 225, 0.25));
  }
}

#nav_toggle {
  span {
    display: block;
    width: 1.5rem;
    height: 2px;
    margin: 5px auto;
    background-color: #f1f1f1;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 3px 0px rgb(255 255 255 / 10%);
  }
}

#nav_list_container {
  backdrop-filter: blur(1rem);
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.25);
  display: none;
}

.nav-open {
  #nav_toggle {
    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  #nav_list_container {
    display: flex;
  }
}

.nav-text {
  display: flex;
  flex-direction: row;
}

.nav-link {
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background: rgba(0, 0, 0, 0.125);
  }
}
#feature_nav_list {
  .nav-text {
    display: flex;
    flex-direction: row;
    border: 0;
    border-bottom: 1px solid rgba(241, 241, 241, 0.2);

    .icon {
      margin-right: 1rem;
    }
  }
  .nav-link {
    padding-right: 0;
  }
}
#main_nav_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;

  .icon {
    height: 2rem;
    width: auto;
  }
  .nav-item {
    &:first-child {
      .nav-link {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:nth-child(2) {
      .nav-link {
        border-radius: 0;
      }
    }
    &:last-child {
      .nav-link {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .nav-link {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 0.5rem;
    min-width: 8ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    .nav-text {
      border-bottom: 1px solid rgba(241, 241, 241, 0.2);
    }
  }

  .active {
    color: rgb(255 255 255 / 100%);
  }
  .nav-text {
    font-size: 0.75rem;
    color: rgb(255 255 255 / 78%);
  }
}

.active .icon {
  filter: drop-shadow(0px 0px 0.5rem rgba(255, 255, 255, 0.5));
}

.nav-list {
  color: #f1f1f1;
  // background: rgb(91 50 120 / 97%);
  background:linear-gradient(
      165deg,
      rgb(89, 48, 117),
      rgb(169, 129, 121));
  backdrop-filter: blur(1rem);
  z-index: 60;
  border-bottom: 1px solid #f1f1f138;
  padding-bottom: 1rem;
  margin: 0;

  .active {
    background: $overlay;
  }
}

#account_nav_list {
  justify-content: center;
  .nav-link {
    border: none;
    border-radius: 50%;
    padding: 1rem;
    margin-top: 1rem;
    height: 5rem;
    width: 5rem;
  }
  .icon {
    width: 2.25rem;
    height: 2.25rem;
  }
  .nav-text {
    font-size: 0.75rem;
  }
}

.nav-title {
  color: #f1f1f1;
  text-shadow: -2px 1px 2px rgb(255 255 255 / 10%);
  background: rgb(91 50 120 / 90%);
  text-transform: uppercase;
}

.nav-link {
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;

  .nav-text {
    display: block;
    width: 100%;
    padding-bottom: 0.5rem;
  }
}

#header_main {
  min-height: calc(100vh - 54px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background:
    linear-gradient(2deg, #000000a8, #a2a2168c, transparent),
    radial-gradient(#ba59ff, #b161e8);
  box-shadow: inset -2px 1px 4rem rgba(0, 0, 0, 0.46);
  color: #482d50;
  text-shadow: 1px 1px 4px rgb(255 255 255 / 63%);
}

.panel {
  padding: 1rem;
}

.breadcrumbs {
  padding: 0 0.5rem;
  border-bottom: 1px solid rgba(107, 107, 107, 0.16);
  .icon {
    width: 2rem;
    height: 2rem;
  }
  .btn-text {
    color: #4e2b67;
    // margin-left:0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background: rgba(78, 43, 103, 0.1);
      transition:
      background-color 0.3s ease;
  }
  a {
    transition:
      transform 0.15s ease-in-out;
  }
  a:active {
    transform: scale(0.95);
    .btn-text {
      background: rgba(78, 43, 103, 0.2);
    }
  }
}

.h1 {
  line-height: 3rem;
  font-weight: 800;
}

.h2 {
  line-height: 2rem;
  font-weight: 600;
}

.h3 {
  line-height: 1.5rem;
  font-weight: 600;
}

.btn {
  display: block;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #333;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    inset 0px 0px 2rem 9px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  transition:
    transform 0.15s ease-in-out,
    background-color 0.3s ease;

  &.btn-sm {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .icon {
    display: inline-block;
    height: 1.5em;
    width: auto;
    vertical-align: middle;
  }

  .icon + .btn-text {
    margin-left: 0.5rem;
  }

  .btn-text + .icon {
    margin-left: 0.5rem;
  }

  &.btn-primary {
    background-color: #5c3279;
    color: #f1f1f1;
    padding: 1rem;
    .icon {
      filter: drop-shadow(0px 0px 0.25rem rgba(0, 0, 0, 0.5));
    }

    &[disabled] {
      background-color: #999;
      cursor: not-allowed;
      box-shadow: none;
    }
  }

  &.btn-xs {
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  &.btn-info {
    background: linear-gradient(45deg, #40409f, #3a3add);
  }

  &.btn-grey {
    background: linear-gradient(45deg, #797777, #979696);
  }

  &.btn-success {
    background: linear-gradient(45deg, #593075, #a97aa1);
    box-shadow: 0.25rem 0.25rem 9px rgba(0, 0, 0, 0.18);
  }

  &.btn-lg {
    font-size: 1.5rem;
  }

  &.btn-danger {
    background: linear-gradient(45deg, #e74c3c, #c0392b);
    color: #f1f1f1;
  }

  &:hover {
    transform: scale(1.025);
  }
  &:active {
    transform: scale(0.95);
  }
}

.icon-student {
  color: #999;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.input {
  text-align: center;
  color: #3f2254;
  padding: 1rem;
  border: 1px solid #0000001f;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.1);
}

.form-search {
  position: relative;
  .icon {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    height: 2rem;
  }
}

.rule-sm {
  border: none;
  border-top: 1px solid #0000001f;
  margin: 1rem 0;
}

.dashboard-header {
  color: #333333;
  padding: 2rem 1rem 0.25rem;
  border-bottom: 1px solid rgb(107 107 107 / 16%);
  background: linear-gradient(45deg, #e7e7e7, #f1f1f1, #e3e3e3);
}

.header {
  border-bottom: 1px solid rgba(107, 107, 107, 0.16);
}

.count {
  font-weight: 900;
  color: rgb(152 78 195);
}

.well {
  box-shadow: $shadow-inset;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 1rem;
  border: 1px solid;
  font-weight: 500;
  padding: 1rem;
}

.well-info {
  border-color: #7474e946;
  color: rgb(78 43 98);
  display: block;
}

.scrollable {
  overflow-x: auto;
  overflow-y: scroll;
  padding: 0.5rem 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: $shadow-inset;
}

.lesson-link {
  border: 1px solid hsla(0, 0%, 100%, 0.541);
  color: rgb(241 241 241);
  border-radius: 1rem;
  background: linear-gradient(165deg, #593075, #a98179);
  box-shadow:
    inset 0px 0px 2rem 1px rgba(0, 0, 0, 0.25),
    2px 2px 1rem 0px rgb(1 1 1 / 48%);
  text-shadow: 2px 2px 2px rgb(0 0 0 / 26%);
  font-weight: 500;

  .lesson-time {
    font-size: 0.75rem;
  }
}
.lesson-instrument {
  font-size: 2rem;
  opacity: 0.5;
}
$instruments: (
  piano: center center,
  guitar: center center,1
  acoustic-guitar: center center,
  electric-guitar: center 13%,
  violin: center center,
  drums: center center,
  flute: center center,
);

@each $name, $position in $instruments {
  .lesson-instrument-#{$name} {
    background: url("/assets/img/bg-#{$name}.jpg");
    background-size: cover;
    background-position: #{$position};
  }
}

.instrument-title {
  color: #f1f1f1;
  font-size: 1.25rem;
  text-transform: uppercase;
  display: none;
}

.lesson-link-icon-container {
  border-radius: 50%;
  border: 2px solid rgba(241, 241, 241, 0.5);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.26));
}

#calendar_month {
  border-bottom: 1px solid #0000001f;
}

.accordion-toggle {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
  .icon {
    border-radius: 50%;
    background: #5a366670;
    padding: 0.125rem;
    filter: drop-shadow(0px -1px 0px rgba(0, 0, 0, 0.25));
  }
}
.accordion-content {
  padding: 1rem 0.5rem;
}
.calendar-nav-icon {
  color: #9292929e;
}
.month-year {
  font-weight: 600;
  color: #222;
}

.day-name {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
  padding-bottom: 0.25rem;
  border-bottom: #0000001f solid 1px;
}

.day {
  padding: 0.5rem;
  background: #999;
  color: #f1f1f1;
  border-radius: 0.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
  box-shadow: 2px 2px 0.5rem rgb(0 0 0 / 18%);
}

.empty-day {
  background: linear-gradient(165deg, #cdc9c9, #bfbfbf);
  color: #ffffff;
}

.day-in-month {
  background: linear-gradient(165deg, #593075, #a98179);
  box-shadow: inset 0px 0px 2rem 1px rgba(0, 0, 0, 0.25);
}

.date-link {
  text-align: center;
  display: block;
  position: relative;
  transition: transform 0.15s ease-in-out;
  &:active {
    transform: scale(0.95);
  }

  &:hover {
    transform: scale(1.05);
  }
}

.lesson-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #d0e900e3;
  box-shadow: 0 0 2px rgb(253 253 253 / 50%);
}

.today-lesson-dot {
  height: 0.5rem;
  width: 0.5rem;
  display: block;
  border: 1px solid #ffffff87;
}

#today_view {
  padding: 0.5rem;
}

#calendar_date_picker {
  padding: 0.5rem;
}

.section {
  border-top: 1px solid #0000001f;
}

#student_list,
#tags,
#song-list,
#documents_list_container {
  padding: 0.5rem;
}

.student-item {
  box-shadow: $shadow-inset;
  border-radius: 0.5rem;
}

.calendar-lesson-dot {
  position: absolute;
  top: 6px;
  right: 6px;
}

.tag-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f1f1f1;
  color: #222;
  text-decoration: none;
  transition:
    background-color 0.3s,
    color 0.3s;
  &:before {
    content: "#";
  }
  &:hover {
    background: #222;
    color: #f1f1f1;
  }
}

.tag-count {
  font-size: 0.75rem;
  padding: 0.25rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  border: #1e63b180 solid 1px;
  color: #1e63b1;
  background: #e6f0ff;
}

.song-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
  padding: 0.5rem 0rem 0.5rem;
}

.song-title {
  font-size: 1rem;
}

.song-artist {
  font-size: 0.875rem;
  color: #666;
}

.song-album-art {
  max-width: 3rem;
  height: auto;
  border-radius: 0.125rem;
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
}

.document-link {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  height: 100%;
  box-shadow: 0.125rem 0.25rem 0.5rem rgb(193 193 193);

  .icon {
    filter: drop-shadow(0px 0px 0.75rem #4927677d);
    color: #4927677d;
  }
}

.file-upload {
  border: 2px dashed rgb(204 204 204 / 38%);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.3s;
  &:hover {
    border-color: #929292;
  }

  .icon {
    width: 3rem;
  }
}

#footer_main {
  background: #391e4b;

  text-align: center;
  box-shadow: inset 0px 2px 20px 7px rgb(0 0 0 / 18%);
  color: #f1f1f1;
}

@media (min-height: 667px) {
  .nav-title {
    display: none;
  }
}

@media (min-height: 700px) {
  .nav-title {
    display: initial;
  }
}

@media (min-width: 768px) {
  #main_nav_list {
    justify-content: start;
  }
}

@media (min-width: 1024px) {
  .max-w-custom {
    max-width: 1024px;
    display: flex;
  }

  .btn {
    display: inline-flex;
    width: auto;
    min-width: 12ch;
  }

  #nav_menu {
    width: 100%;
    display: inline-flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    right: 0;
    left: 0;
    backdrop-filter: blur(0.25rem);
  }

  .nav-bar {
    background: none;
    display: inline-flex;
    flex-direction: row;
    border: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    backdrop-filter: none;
  }

  #nav_logo_link {
    transition:
      background-color 0.3s,
      padding 0.3s,
      filter 0.3s;
    &:hover {
      background: $overlay;
      padding: 0.25rem;
      cursor: pointer;
      border-radius: 0.5rem;
    }
    &:active {
      filter: drop-shadow(0px 0px 19px rgba(224, 224, 224, 0.5));
    }
  }

  #nav_toggle {
    display: none;
  }

  #nav_list_container {
    position: relative;
    width: auto;
    padding: 0;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    box-shadow: none;
    justify-content: flex-start;
    background: transparent;
    backdrop-filter: none;
    &.hidden {
      display: flex;
    }
  }
  .nav-title {
    display: none;
  }

  .nav-list.hidden {
    display: flex;
    overflow: hidden;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0;
    margin: 0.5rem;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    border: 0;
    width: auto;
    border-radius: 0.5rem;
    overflow: hidden;
    backdrop-filter: none;
  }

  #main_nav_list {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    padding: 0;
    min-height: 60px;
    .nav-item {
      padding: 0;
    }
    .nav-link {
      padding: 0.75em;
      min-width: auto;
      .nav-text {
        display: none;
      }
      .icon {
        width: 1.75rem;
        height: auto;
      }
    }
  }

  .nav-item {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-link {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid rgba(241, 241, 241, 0.2);
    &.active {
      background: rgb(0 0 0 / 5%);
    }
    .nav-text {
      padding: 0;
      border: none;
    }
  }

  #account_nav_list {
    align-items: center;
    justify-content: center;
    .nav-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav-link {
      height: auto;
      width: auto;
      margin-top: 0;
      padding: 1rem;
      background: none;
      border-radius: 0;
      border-bottom: 1px solid rgba(241, 241, 241, 0.2);
      &.active {
        background: rgba(0, 0, 0, 0.05);
      }
      .nav-text {
        display: none;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.25);
        cursor: pointer;
        border-radius: 0.5rem;
      }
    }

    .icon {
      width: 1.75rem;
      height: auto;
    }
  }

  #feature_nav_list {
    .text {
      display: none;
    }

    .nav-text {
      border: 0;
      .icon {
        margin: 0;
      }
    }
    .nav-link {
      padding: 1rem;
    }
  }
}

@media (min-width: 1400px) {
  .max-w-custom {
    min-width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
